In [3]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [8]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [26]:
#read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv', na_values=['Not Available','unknown'])
df.head(20) #finding 1st 20 tables
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [34]:
 #finding 1st 20 tables
#df.head(20)
df #all run

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [36]:
#---rename columns names ..make them lowercase and replace space with underscore
#df.rename(columns={'Order Id': 'order_id', 'City': 'city'}) 

#df.columns #--all the columns
#df.columns.str.lower() #---converted to lower case
df.columns = df.columns.str.replace(" ","_")

df.head(6)

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3

In [38]:
#-----derive new columns discount , sale price and profit

df['discount'] = df['list___price']*df['discount___percent']*.01   # add discount colunm
df['sale_price']= df['list___price']-df['discount']   # add as;e price clm
df['profit']=df['sale_price']-df['cost___price']  # add profit clm
df

KeyError: 'list___price'

In [106]:
#convert order date from object data type to datetime
#df.dtypes #--data check
df['order___date'] = pd.to_datetime(df['order___date'],format= "%Y-%m-%d")

In [30]:
df.dtypes 
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [113]:
#drop cost price list price and discount percent columns
df.drop(columns= ['list___price','discount___percent','cost___price'])

,order___id,order___date,ship___mode,segment,country,city,state,postal___code,region,category,sub___category,product___id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

In [8]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp311-cp311-win_amd64.whl (14.5 MB)
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/14.5 MB 544.7 kB/s eta 0:00:27
    --------------------------------------- 0.2/14.5 MB 1.3 MB/s eta 0:00:11
    --------------------------------------- 0.3/14.5 MB 1.6 MB/s eta 0:00:09
   - -------------------------------------- 0.6/14.5 MB 2.7 MB/s eta 0:00:06
   --- ------------------------------------ 1.1/14.5 MB 4.0 MB/s eta 0:00:04
   ---- ----------------------------------- 1.5/14.5 MB 4.5 MB/s eta 0:00:03
   ----- ---------------------------------- 1.9/14.5 MB 5.2 MB/s eta 0:00:03
   ------ --------------------------------- 2.4/14.5 MB 5.7 MB/s eta 0:00:03
   -------- ------------------------------- 3.1/14.5 MB 6.6 MB/s eta 0:00:02
   --------- ------------------------------ 3.6/14.5 MB 7.0 MB/s eta 0:00:02
   ---------- ----------------------------- 3.6/14.5 MB 7.0 MB/s eta 0:00:02
   ------------ --------------------------- 4.7/14.5 MB 7.6 MB/s eta 0:00:02
   ------------- -------------------------- 4.9/14.5 MB 7.5 MB/s eta 0:00:02
   -------------- ------------------------- 5.4/14.5 MB 7.6 MB/s eta 0:00:02
   ---------------- ----------------------- 6.0/14.5 MB 8.0 MB/s eta 0:00:02
   ----------------- ---------------------- 6.5/14.5 MB 8.1 MB/s eta 0:00:01
   ------------------- -------------------- 7.0/14.5 MB 8.2 MB/s eta 0:00:01
   -------------------- ------------------- 7.4/14.5 MB 8.5 MB/s eta 0:00:01
   --------------------- ------------------ 7.9/14.5 MB 8.4 MB/s eta 0:00:01
   ----------------------- ---------------- 8.3/14.5 MB 8.6 MB/s eta 0:00:01
   ------------------------ --------------- 8.7/14.5 MB 8.5 MB/s eta 0:00:01
   ------------------------ --------------- 9.0/14.5 MB 8.5 MB/s eta 0:00:01
   ------------------------ --------------- 9.0/14.5 MB 8.5 MB/s eta 0:00:01
   -------------------------- ------------- 9.5/14.5 MB 8.2 MB/s eta 0:00:01
   --------------------------- ------------ 10.1/14.5 MB 8.6 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.5 MB 10.2 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.5 MB 10.2 MB/s eta 0:00:01
   --------------------------------- ------ 12.1/14.5 MB 10.2 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.5 MB 9.9 MB/s eta 0:00:01
   ----------------------------------- ---- 13.0/14.5 MB 10.1 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.5 MB 9.9 MB/s eta 0:00:01
   -------------------------------------- - 14.0/14.5 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------  14.4/14.5 MB 10.2 MB/s eta 0:00:01
   ---------------------------------------- 14.5/14.5 MB 9.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [11]:
import mysql.connector as connection
mydb = connection.connect(host = 'localhost',database= 'sql_py_project', user='root', password = 'Nipa@1234')

In [23]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-CSMPFQ3\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [28]:
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

38

In [29]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')